<style>
    .tooltip-wrapper {
        position: relative;
        display: inline-block;
        cursor: help;
    }
        
    .tooltip-text {
        visibility: hidden;
        position: absolute;
        width: 120px;
        bottom: 100%;
        left: 50%;
        margin-left: -60px;
        background-color: #363636;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        z-index: 1;
        font-size: 12px;
    }
        
    .tooltip-text::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }
        
    .tooltip-wrapper:hover span {
        visibility: visible;
    }
</style>

<div class="tooltip-wrapper">
    <span class="tooltip-text">@Text</span>
    @ChildContent
</div>
 
@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string Text { get; set; }
}