@typeparam TFormElement
@inherits FormElementComponent<TFormElement>

@if (!string.IsNullOrWhiteSpace(Label))
{
    <label class="form-control-label" for="@Id">@Label</label>
}

@CreateComponent(FieldIdentifier)

<VxFormGenerator.Validation.VxValidationMessage For="@FieldExpression" Class="poep" ></VxFormGenerator.Validation.VxValidationMessage>
