@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://www.nuget.org/packages/VxFormGenerator.Core/" target="_blank">Nuget</a>
        <a href="https://github.com/Aaltuj/VxFormGenerator" target="_blank">Github</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
