.field:not(:last-child) {
    margin-bottom: .75rem;
}

.box {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 .5em 1em -.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
}

.content:not(:last-child),
.title:not(:last-child) {
    margin-bottom: 1rem;
}

.title {
    color: #363636;
    font-weight: 600;
    line-height: 1.125;
}

.title.is-5 {
    font-size: 1.25rem;
}

.label {
    color: #363636;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

.control {
    box-sizing: border-box;
    clear: both;
    font-size: 1rem;
    position: relative;
    text-align: inherit;
}

.input,
.select {
    appearance: none;
    align-items: center;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    box-shadow: inset 0 .0625em .125em rgba(10, 10, 10, .05);
    color: #363636;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    justify-content: flex-start;
    line-height: 1.5;
    padding: calc(.5em - 1px) calc(.75em - 1px);
    position: relative;
    vertical-align: top;
}

.input:focus,
.select:focus {
    border-color: #485fc7;
    box-shadow: 0 0 0 .125em rgba(72, 95, 199, .25);
    outline: 0;
}

.select.is-fullwidth,
.select.is-fullwidth select,
.input {
    width: 100%;
}

.checkbox {
    cursor: pointer;
    display: inline-block;
    line-height: 1.25;
    position: relative;
}

.checkbox input {
    cursor: pointer;
    margin-right: .5em;
}

.help {
    display: block;
    font-size: .75rem;
    margin-top: .25rem;
}

.button {
    align-items: center;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    box-shadow: none;
    color: #363636;
    cursor: pointer;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    justify-content: center;
    line-height: 1.5;
    padding: calc(.5em - 1px) 1em;
    text-align: center;
    vertical-align: top;
}

.button.is-primary {
    background-color: #00d1b2;
    border-color: transparent;
    color: #fff;
}

.notification {
    border-radius: 4px;
    margin-top: 1rem;
    padding: 1.25rem 2.5rem 1.25rem 1.5rem;
    position: relative;
}

.is-success {
    border-color: #48c78e;
}

.notification.is-success {
    background-color: #48c78e;
    color: #fff;
}

.notification.is-success.is-light {
    background-color: #effaf5;
    color: #257953;
}

.is-danger {
    border-color: #f14668;
}
