@namespace VxFormGenerator.Render.Plain
@inherits VxFormGenerator.Render.Plain.VxFormRowComponent



<div class="form-row">
    @if (FormRowDefinition.Label != null)
    {
        <label class="col-sm-3 col-form-label vx-form-left-row-label @(FormRowDefinition.HasExplicitLabel ? "vx-form-explicit-row-label" : null)">@FormRowDefinition.Label</label>
    }

    @foreach (var column in FormRowDefinition.Columns)
    {
        <VxFormGenerator.Render.Plain.VxFormColumn FormColumnDefinition="@column" SuppressLeftFieldLabel="FormRowDefinition.HasExplicitLabel">

        </VxFormGenerator.Render.Plain.VxFormColumn>
    }
</div>
