@inherits BootstrapInputCheckboxComponent;

<div class="custom-control custom-checkbox line-height-checkbox ">
    <input type="checkbox" class="custom-control-input" id="exampleCheck1" @bind="CurrentValue">

    <label class="custom-control-label" for="exampleCheck1">test</label>

</div>
