@typeparam TValue
@inherits FormGeneratorComponent<TValue>


<EditForm Model="@DataContext"
          OnValidSubmit="@(context => OnValidSubmit.InvokeAsync(context))">
    <DataAnnotationsValidator />
    <ValidationSummary />

    @foreach (var field in Properties)
    {

        <FormElement FieldIdentifier="@field"></FormElement>
    }

    <button type="submit">Submit</button>
</EditForm>