@namespace VxFormGenerator.Form

@typeparam TFormElement
@inherits  FormElementComponent<TFormElement>

<div>
    @if (!string.IsNullOrWhiteSpace(Label))
    {
        <label class="form-control-label" for="@Id">@Label</label>
    }

    @CreateComponent()

    <VxFormGenerator.Core.Validation.VxValidationMessage For="@ValueExpression">

    </VxFormGenerator.Core.Validation.VxValidationMessage>
</div>